.primary {
  overflow-y: auto;
  &__template {
    padding: 0 40px;
    .template {
      &__header, &__main, &__footer {
          width: 100%;
          display: flex;
          align-items: center;

          min-height: 72px;
          background: #fff;
          justify-content: center;
      }
      &__header, &__footer {
        height: 104px;
        align-items: center;
      }
    }
  }
  &__modal {
    padding: 10px;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 999999;
    text-align: center;
    white-space: nowrap;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.modal {
  &__main {
    font-size: 16px;
    white-space: normal;
    word-break: break-word;
    width: 100%;
    position: relative;
    max-width: 544px;
    text-align: left;
    background: #fff;
    box-shadow: 0px 16px 64px rgba(15, 22, 35, 0.15), 0px 8px 32px rgba(15, 22, 35, 0.15), 0px 4px 16px rgba(15, 22, 35, 0.15), 0px 2px 8px rgba(15, 22, 35, 0.15);
    border-radius: 6px;
    display: inline-block;
    vertical-align: middle;
    padding: 0!important;
    &_thx {
      max-width: 337px;
    }
  }
  &__content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    .content {
      &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__text {
        font-style: normal;
        &_title {
          margin: 0;
          font-family: Cormorant, sans-serif;
          font-weight: normal;
          font-size: 40px;
          line-height: 48px;
          color: #070D17;
        }
      }
      &__description {
        width: 90%;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #6E7278;
      }
      &__close {
        cursor: pointer;
      }
      &__inputs {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
      }
      &__buttons {
        display: flex;
        grid-gap: 10px;
        .buttons {
          &__back {
            background: #fff;
            color: #0F1623;
          }
          &__send {
            background: #0F1623;
          }
        }
      }
    }
  }
}
.messageSend {
  max-width: 337px !important;
  &__content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 20px;
    .ctm-modal {
      &__title {
        font-family: Cormorant, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 48px;
        text-align: center;

        color: #070D17;
      }
      &__desc {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        text-align: center;

        color: #6E7278;
      }
      &__btn {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;

        color: #FFFFFF;
        background: #070D17;
      }
    }
  }
  &__action {
    margin-top: 10px;
  }
}
.header, .footer, .main {
  &__content {
    max-width: 1680px;
    min-height: 72px;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    display: flex;
    grid-gap: 4px;
  }
  &__text {
    position: static;
    height: 24px;
    top: 0px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    color: #070D17;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    &_light {
      width: 46px;
      left: 0px;
      font-weight: 300;
    }
    &_bold {
      width: 71px;
      left: 50px;
      font-weight: 600;
    }
    &_number {
      font-weight: 300;
    }
  }
}
.footer {
  &__content {
    box-shadow: 0 -1px 0 #e6e9ec;
  }
}
.main {
  &__content {
    display: flex;
    flex-direction: column;
    grid-gap: 60px;
    .content {
      &__block {
        &_title {
          width: 70%;
          font-family: Cormorant, sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 100px;
          line-height: 110px;

          color: #070D17;
        }
        &_present {
          display: flex;
          grid-gap: 140px;
          align-items: flex-end;
        }
      }
    }
  }
}
.block {
  &__present {
    &_first{
      width: 45%;
    }
    .present__first {
      .present {
        &__img {
          width: 100%
        }
      }
      .desc {
        &__text {
          font-family: Cormorant, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 32px;
          line-height: 40px;

          color: #070D17;
          box-shadow: 0 -1px 0 #e6e9ec;
          padding: 20px 0;
        }
        &__block {
          display: flex;
          grid-gap: 10px;
        }
        &__link {
          font-family: Montserrat, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 28px;

          color: #070D17;
        }
      }
    }
    .present__second {
      .present {
        &__img {
          width: 100%
        }
      }
    }
  }
  &__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .info {
      &__img-line {
        width: 200px;
      }
      &__line {
        width: 100%;
        border: 0;
        height: 1px;
        background: #ADB2BA;
        margin-top: 40px;
      }
      &__text {
        font-style: normal;
        color: #070D17;
      }
      &__title {
        margin: 0;
        font-family: Cormorant, sans-serif;
        font-weight: 600;
        font-size: 56px;
        line-height: 60px;
      }
      &__desc {
        margin: 0;
        font-family: Montserrat, sans-serif;
        font-weight: normal;
        font-size: 22px;
        line-height: 28px;
      }
    }
  }
  &__send {
    display: flex;
    grid-gap: 115px;
    .send {
      &__img {
        width: 50%;
        img {
          width: 100%;
        }
      }
      &__title {
        font-family: Cormorant, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 48px;

        color: #070D17;
      }
      &__data {
        display: flex;
        flex-direction: column;
        grid-gap: 25px;
      }
      &__dropdown {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }
      &__btn {
        cursor: pointer;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;

        width: 398px;
        height: 56px;
        left: 0px;
        top: 512px;

        background: #0F1623;
      }
    }
  }
}
@media only screen and (max-width: 1240px) {
  .main__content .content__block_present {
    grid-gap: 90px;
  }
  .block__info .info__desc {
    font-size: 18px;
  }
  .block__present .present__first .desc__text {
    font-size: 24px;
    line-height: 32px;
  }
  .block__present_first {
    width: 50%;
  }
}
@media only screen and (max-width: 1024px) {
  .main__content .content__block_title {
    font-size: 77px;
    width: 100%;
  }
  .main__content .content__block_present {
    align-items: center;
  }
  .block__info .info__img-line {
    display: none;
  }
  .block__send {
    grid-gap: 35px;
  }
  .block__send .send__img {
    width: 170%;
  }
  .block__send .send__dropdown {
    grid-template-columns: 1fr;
  }
  .block__present_first {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .main__content .content__block_title {
    font-size: 65px;
  }
  .main__content .content__block_present {
    grid-gap: 40px;
  }
  .block {
    &__info {
      flex-direction: column;
    }
    &__send {
      grid-gap: 30px;
      flex-direction: column;
    }
  }
  .block__send {
    .send__img {
      width: 60%;
    }
    .send__dropdown {
      grid-template-columns: 1fr;
    }
  }
  .block__info {
    .info__desc {
      font-size: 16px;
    }
  }
  .block__present_first {
    width: 100%;
  }
  .info__text {
    &_left {
      padding-left: 0;
    }
    &_middle {
      padding-left: 30%;
    }
    &_right {
      padding-left: 60%;
    }
  }
}
/* cyrillic-ext */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cormorant/v11/H4clBXOCl9bbnla_nHIq4pu9uqc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cormorant/v11/H4clBXOCl9bbnla_nHIq65u9uqc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cormorant/v11/H4clBXOCl9bbnla_nHIq4Ju9uqc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cormorant/v11/H4clBXOCl9bbnla_nHIq4Zu9uqc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cormorant/v11/H4clBXOCl9bbnla_nHIq75u9.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
